{% extends "lfs/base.html" %}
{% load url from future %}
{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{# load reviews_tags #}
{% load cache %}

{% block title %}
{{ product.get_meta_title }} - {{ block.super }}
{% endblock %}

{% block section %}product{% endblock %}

{% block head %}
    {% if product.get_meta_keywords %}
        <meta name="keywords" content="{{ product.get_meta_keywords }}" />
    {% endif %}
    {% if product.get_meta_description %}
        <meta name="description" content="{{ product.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs product %}
{% endblock %}

{% block content %}
    {{ product.static_block.html|safe }}
    <div id="product-inline" itemscope itemtype="http://data-vocabulary.org/Product">
        {{ product_inline }}
    </div>
{% endblock %}

