{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}
{% block middle-slot %}{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}
{% block content %}

    {% if page %}
    <ul class="breadcrumb" >
        <li>
            <a href="/" ><i class="icon-home"></i></a> /
        </li>
        <li>
            <a href='/info/'> Новости </a> /
        </li>
        <li>
            {% if page_category %}<a href='/info/{{ page_category.slug }}/'> {{ page_category.name }}</a> / {% endif %}
        </li>
        <li>
            <span>{{ page.title }}</span>
        </li>
    </ul>
        <h4>{{ page.title }}</h4>
        <div class="create_date">{{ page.create_date }}</div>
        <div class="full_text">
            {{ page.text|safe }}
        </div>
        
    {% else %}
        {% if category %}
            <ul class="breadcrumb" >
        <li>
            <a href="/" ><i class="icon-home"></i></a> /
        </li>
        <li>
            <a href='/info/'> Новости </a> /
        </li>
        <li>
            {% if category %}<span> {{ category.name }}</span>{% endif %}
        </li>
    </ul>
            <h4>{{ category.name }}</h4>
            {% autopaginate category_news category.pagination %}
            {% for n in category_news %}
                <div class="preamble">
                    <div class="title"><h4>{{ n.title }}</h4></div>
                    <div class="description">{{ n.preamble|safe }}</div>
                    {% if n.text %}<div class="more"><a href="/info/{{ category.slug }}/{{ n.slug }}.html">Читать дальше</a></div>{% endif %}
                </div>
            {% endfor %}
            </div>
            {% paginate %}
        {% endif %}
    {% endif %}


{% endblock %}
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    mediator.subscribe("document_ready", function(){
    $('#middle-slot-container').prepend($('#slider_{{portlet.id}}'))
});
</script>
       {% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span12", "span9");
          config.left_portlet_count--;
          </script>
    {% endblock %}