{% extends "lfs/base.html" %}
{% load scms_tags %}
{% block middle-slot %}{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}
{% block content %}
{% for category in categories %}<ul class="news">{% menu_tree category %}</ul>{% endfor %} 
{% endblock %}
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    mediator.subscribe("document_ready", function(){
    $('#middle-slot-container').prepend($('#slider_{{portlet.id}}'))
});
</script>
