{% load lfs_tags %}
{% load l10n %}

{% localize off %}
{% if average %}
    <div class="average-rating"
         onclick="window.location='#reviews'">
        <ul class="star-rating">
            <li class="current-rating"
                style="width:{{average|multiply:25}}px">
                Currently 3/5 Stars
            </li>
        </ul>
    </div>
    {% else %}
    <div class="average-rating"
         onclick="window.location='#reviews'">
        <ul class="star-rating">
            <a href="#" class="rate " style="z-index:; width:px"></a>
        </ul>
    </div>
{% endif %}
{% endlocalize %}
